# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# data files
fcc_split/data/
cluster_viz/data
cluster_viz/tree_data
cluster_viz/applicants.json
cluster_viz/assets/form_tree.json
cluster_viz/docs.json
cluster_viz/form_docs.json
cluster_viz/form_links.json
images

# persistence of BLOBs for models, corpora, etc
persistence
